* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#id {
    display: flex;
    justify-content: space-between;
}

.logo {
    text-align: center;
}

.App {
    width: 800px;
}

.task {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.true {
    text-decoration: line-through;
}